.exercises-container {
  margin-top: 10em;
  border: 3px solid none;
  border-radius: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 70px 0px hsla(0, 0%, 31%, 0.75);
}